{% extends "auth_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="auth-page">

    <!-- animated background -->
    <div class="heartbeat-bg"></div>

    <!-- CARD -->
    <div class="auth-card">

        <h2>Welcome back</h2>
        <p class="auth-sub">Mây luôn ở đây, giúp đỡ và chữa lành cho bạn nhé.</p>

        <form method="post">
            {% csrf_token %}

            {% if error %}
<div class="auth-error">
    Email hoặc mật khẩu không đúng
</div>
{% endif %}
            <!-- EMAIL -->
            <div class="input-field">
                <input 
                    type="email"
                    name="username"
                    placeholder="Email"
                    required
                >
            </div>

            <!-- PASSWORD -->
            <div class="input-field password-field">
                <div class="password-field">
                    <input 
                        type="password" 
                        name="password" 
                        placeholder="Mật khẩu"
                        required
                    >
                    <span class="toggle-password">👁</span>
                </div>
            </div>
            

            <button class="auth-btn">Đăng nhập</button>
        </form>

        <a href="{% url 'signup' %}" class="auth-link">
            Tạo tài khoản
        </a>

        <a href="{% url 'password_reset' %}" class="auth-link">
            Quên mật khẩu?
        </a>

    </div>
</div>

{% endblock %}