{% extends "auth_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="auth-page">

    <!-- HEART / HEARTBEAT BACKGROUND -->
    <div class="heartbeat-bg"></div>

    <!-- SIGNUP CARD -->
    <div class="auth-card">

        <h2>Create account</h2>
        <p class="auth-sub">
            Bắt đầu hành trình chăm sóc cảm xúc cùng Mây, Mây sẽ đồng hành cùng bạn!
        </p>

        <form method="post">
            {% csrf_token %}

            <!-- Username -->
            <input 
    type="text" 
    name="name"
    value="{{ form.name.value|default:'' }}"
    placeholder="{% if form.name.errors %}{{ form.name.errors.0 }}{% else %}Tên của bạn{% endif %}"
    class="{% if form.name.errors %}input-error{% endif %}"
    required
>

            <!-- Password -->
            <div class="password-field">
    <input 
    type="password" 
    name="password1"
    placeholder="{% if form.password1.errors %}{{ form.password1.errors.0 }}{% else %}Mật khẩu{% endif %}"
    class="{% if form.password1.errors %}input-error{% endif %}"
>
    <span class="toggle-password">👁</span>
</div>

            <!-- Confirm password -->
            <div class="password-field">
    <input 
    type="password" 
    name="password2"
    placeholder="{% if form.password2.errors %}{{ form.password2.errors.0 }}{% else %}Xác nhận mật khẩu{% endif %}"
    class="{% if form.password2.errors %}input-error{% endif %}"
>
    <span class="toggle-password">👁</span>
</div>

<input 
    type="email" 
    name="email"
    value="{{ form.email.value|default:'' }}"
    placeholder="{% if form.email.errors %}{{ form.email.errors.0 }}{% else %}Email{% endif %}"
    class="{% if form.email.errors %}input-error{% endif %}"
    required
>


<input 
    type="number" 
    name="age" 
    value="{{ form.age.value|default:'' }}"
    placeholder="Age" 
    required
>

<select name="location" required>
    <option value="">-- Chọn khu vực --</option>
    {% for value, label in locations %}
        <option value="{{ value }}"
    {% if form.location.value == value %}selected{% endif %}>
    {{ label }}
</option>
    {% endfor %}
</select>

<input type="text" name="job" placeholder="Job" required>


            <button type="submit" class="auth-btn">
                Sign up
            </button>

        </form>

        <a href="{% url 'login' %}" class="auth-link">
            Đã có tài khoản? Đăng nhập tại đây
        </a>

    </div>

</div>

{% endblock %}