{% extends "base.html" %}
{% block content %}

<div class="auth-wrapper">

    <div class="auth-card">

        <h2>Đổi mật khẩu</h2>

        <form method="post">
            {% csrf_token %}

            <div class="password-field">
    <input type="password" name="old_password" placeholder="Mật khẩu cũ">
    <span class="toggle-password">👁</span>
</div>

<div class="password-field">
    <input type="password" name="new_password" placeholder="Mật khẩu mới">
    <span class="toggle-password">👁</span>
</div>

<div class="password-field">
    <input type="password" name="confirm_password" placeholder="Xác nhận mật khẩu">
    <span class="toggle-password">👁</span>
</div>

            <button>Đổi mật khẩu</button>
        </form>

    </div>

</div>

<!-- TOAST -->
{% if messages %}
<div id="toast" class="toast">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>

<script>
    const toast = document.getElementById("toast");
    toast.classList.add("show");

    setTimeout(() => {
        toast.classList.remove("show");
    }, 2500);
</script>
{% endif %}

{% endblock %}